
body {
    height: 100vh;
    margin: 0;
    background: radial-gradient(circle, green, black);
    background-size: cover;
    color: white;
    text-align: center;
}

.container {
    margin: 20px 0;
    height: 150px;
}

.container,
.card-table,
.name-window {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-table {

    width: 700px;
    height: 170px;
    border: 10px solid #663300;
    border-radius: 100px;   
    background: #3fe69e;
}

img {
    height: 150px;
    margin: 0 10px;
}

h2 {
    background: white;
    color: black;
    width: 160px;
    border-radius: 100px;
    padding: 5px 10px;
}

.name-window {
    filter: drop-shadow(0 0 5px white);
}

#game-status {
    padding: 10px 20px;
    
}

button {
  margin: 20px 10px 10px 0;  
  color: #fff;
  padding: 15px 25px;
  background-color: #38D2D2;
  background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 66% at 26% 20%, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
  box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25), inset 0px 3px 9px rgba(255, 255, 255, 0.3), inset 0px 1px 1px rgba(255, 255, 255, 0.6), inset 0px -8px 36px rgba(0, 0, 0, 0.3), inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  font-weight: bold;
  font-size: 16px;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
  width: 100px;
}

button:hover {
    filter: drop-shadow(0 0 5px white);
}